.navbar {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: black;
  padding: 20px;
  .wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .heading{
      color: black;
    }

    .items {
      display: flex;
      align-items: center;

      .search {
        display: flex;
        align-items: center;
        //border: 0.5px solid lightgray;
        padding: 3px;
        background-color: white;
        border-radius: 20px;
  
        input {
          border: none;
          outline: none;
          background: white;
  
          &::placeholder {
            font-size: 12px;
            font-weight: bold;
            padding-left: 20px;
          }
        }
      }

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;

        .icon {
          font-size: 20px;
        }

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        .counter {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }
}
